/* Master Styles */

body {
    font-family: "Rowdies", sans-serif;
    margin: 10px;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}



/* Navigator Styles */

.nav-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 90px 
}


.right-side{
    display: flex;
    justify-content: space-evenly;
    text-transform: uppercase;
}


.left-side{
    display: flex;
    justify-content: space-evenly;
    text-transform: uppercase;
}


.nav-wrapper > .left-side > div {
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
    
}

.nav-link-wrapper{
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
    color: gold;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid blue;
}

.nav-link-wrapper a:hover {
    color: solid blue;
}

.active-nav-link {
    border-bottom: solid blue;
}

.active-nav-link a {
    color: blueviolet !important;
}
/* Portfolio Styles */

.portfolio-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.portfolio-item-wrapper {
    position: relative;

}

.portfolio-img-background {
    height: 400px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-text-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

.logo-wrapper img {
    width: 50%;
    margin-bottom: 20px;
}

/* Needs specificity with selector */

.img-text-wrapper .subtitle {
    transition: 1s;
    font-weight: 600;
    color: transparent;
    

}

.img-text-wrapper:hover .subtitle {
    font-weight: 600;
    color: gold;
}

.img-darken {
    transition: 2s;
    filter: brightness(10%);
}

/* About Page Styles */

.two-column-wrapper {
    display: grid;
    grid-template-columns: 1fr;
}

.profile-image-wrapper img {
    width: 100%; 
}

.profile-content-wrapper {
    padding: 30px;
    
}

.profile-content-wrapper h1 {
    color: goldenrod;
}

.a_description {
    color: white;
}

.immuno-pic {
    margin-left: 350px;
    width: 100%;
}
/* Fundraising Subtitle */

.f_img-text-wrapper .f_subtitle {
    transition: 1s;
    font-weight: 600;
    color: transparent;
    margin-top: -300px;
    margin-left: 580px;
    

}

.f_img-text-wrapper:hover .f_subtitle {
    font-weight: 20px;
    color: gold;
    filter: brightness(900%);
    
}


.f_img-darken {
    transition: 2s;
    filter: brightness(50%);
}

/* Fundraising Picture */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -45px;
    width: 100%;
  }

.f_description {
    color: white;
}

.f_logo-wrapper img {
    width: 100%;
    margin-bottom: 300px;
}

.f_profile-content-wrapper {
    color: goldenrod;
    margin-top: 145px;

    
}


.f_portfolio-item-wrapper {
    position: static;
    margin-top: 50px;

}


.f_portfolio-items-wrapper {
    display: grid;
    grid-template-rows: 1fr;
}


/* Footer */ 
.le-footer {
    background: darkblue;
    color: goldenrod;
    height: 200px;
    position: relative;
    width: 100%;
    position: absolute;
    bottom: -900px;
    padding-top: 50px;
    left: 0px;
    text-align: center;
    
}

.le-footer .footer-content {
    background: 2pc goldenrod;
    height:40px;
}

.le-footer .le-footer-top {
    background: purple;
    height: 2px;
    width: 100%;
    position: absolute;
    padding-top:1px;
    left: 0px;
    top: -3px;
}


.le-footer .le-footer-bottom {
    background-color: goldenrod;
    color: honeydew;
    height: 45px;
    width: 100%;
    position: absolute;
    bottom: 50px;
    padding-top: 20px;
    left: 0px;
    text-align: bottom;

}


/* Fundraising Footer */ 
.f-footer {
    background: darkblue;
    color: goldenrod;
    height: 200px;
    position: relative;
    width: 100%;
    position: absolute;
    bottom: -800px;
    padding-top: 50px;
    left: 0px;
    text-align: center;
    
}

.f-footer .footer-content {
    background: 2pc goldenrod;
    height:40px;
}



.f-footer .le-footer-top {
    background: purple;
    height: 2px;
    width: 100%;
    position: absolute;
    padding-top:1px;
    left: 0px;
    top: -3px;
}


.f-footer .le-footer-bottom {
    background-color: goldenrod;
    color: honeydew;
    height: 45px;
    width: 100%;
    position: absolute;
    bottom: 50px;
    padding-top: 20px;
    left: 0px;
    text-align: bottom;

}

/* Slideshow adopted from w3schools */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/* Merchandise Page */

.com_so {
    right: 40px;
    text-align: center;
}

.content-wrapper {
    display: grid;
    grid-template-rows: 1fr;
}


/* Programs Page Footer */

.p-le-footer {
    background: darkblue;
    color: goldenrod;
    height: 200px;
    position: relative;
    width: 100%;
    position: absolute;
    bottom: -1600px;
    padding-top: 50px;
    left: 0px;
    text-align: center;
}


.p-le-footer .footer-content {
    background: 2pc goldenrod;
    height:40px;
}

.p-le-footer .le-footer-top {
    background: purple;
    height: 2px;
    width: 100%;
    position: absolute;
    padding-top:1px;
    left: 0px;
    top: -3px;
}


.p-le-footer .le-footer-bottom {
    background-color: goldenrod;
    color: honeydew;
    height: 45px;
    width: 100%;
    position: absolute;
    bottom: 50px;
    padding-top: 20px;
    left: 0px;
    text-align: bottom;

}

/* Home Page Trailer */

.BOLT_Trailer {
    text-align: center;
    position: absolute;
    margin-top: -355px;
}
